div.fieldset-description-style {
  background-image: url(https://cdn.shopify.com/s/files/1/0327/1498/1421/files/Sample_Header.png?v=1632476002);
  background-repeat: no-repeat;
  background-position: 94%;
  background-position-y: 24px;
  background-size: 120px auto;
  background-color: #f8f6f7;
}

label.checkbox__label {
  font-size: 14px;
  font-weight: normal;
  color: black;
}
.fieldsetHeader {
  margin-bottom: 15px;
}

// media query : 1170px and 454px
