div.fieldset-description-style {
  position: relative;
  background-color: #f8f6f7;
  &::before {
    content: "";
    display: block; /*missing prop*/
    background-image: url(https://cdn.shopify.com/s/files/1/0327/1498/1421/files/Sample_Header.png?v=1632476002);
    background-repeat: no-repeat;
    height: 80px;
    width: 120px;
    background-size: contain;
    position: absolute;
    right: 26px;
  }
}

label.checkbox__label {
  font-size: 14px;
  font-weight: normal;
  color: black;
}
.fieldsetHeader {
  margin-bottom: 15px;
}

@media screen and (max-width: 599px) {
  div.fieldset-description-style {
    &::before {
      display: none;
    }
  }
}

@media screen and (max-width: 992px) and (min-width: 600px) {
  div.fieldset-description-style {
    &::before {
      right: 19px;
      top: 33px;
      width: 100px;
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 993px) {
  div.fieldset-description-style {
    &::before {
      display: none;
    }
  }
}
